**/.Rproj.user
**/.Rhistory
**/*_cache
node_modules
**/node_modules/
**/*.log
**/*.pem
**/*.key
**/*.cert
.vscode
**/*.lock
**/*.save
**/*.bak
**/*.swp
**/*~
**/*.bak*
**/*.*bak*
**/*.bak.*
**/*.bak/
**/bak
**/temp
**/tmp
**/tmp.*
**/tmp*.*
**/.cache
**/cache
**/__pycache__
**/dist
**/dist_*
