**/.Rproj.user
**/.Rhistory
**/*_cache
node_modules
**/node_modules/
**/*.log
**/*.pem
**/*.key
**/*.cert
.vscode
**/*.lock
**/*.save
**/*.bak
**/*.swp
**/*~
**/*.bak*
**/*.*bak*
**/*.bak.*
**/*.bak/
**/bak
**/temp
**/tmp
**/tmp.*
**/tmp*.*
**/~$*.docx
**/.cache
**/cache
**/ocpu-rcache
**/__pycache__
**/dist
**/dist_*
.Rproj.user
.Rprofile

